<%= div_for(comment) do %>
	<div class="comments_wrapper clearfix">
		<div class="pull-left">
			<p class="lead"><%= comment.body %></p>
			<p><small>Submitted <strong><%= time_ago_in_words(comment.created_at) %> ago</strong> by <%= comment.user.email %></small></p>
		</div>

		<div class="btn-group pull-right">
			<% if comment.user == current_user -%>
				<%= link_to 'Destroy', comment, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-sm btn-default" %>

					<% end %>
<!--tryign to insert voting into comments.  at least I have them in the right place, even if theyre the wrong links -->

				<%= link_to like_link_path(@link), method: :put, class: "btn btn-default btn-sm" do %>
					<span class="glyphicon glyphicon-chevron-up"></span>
					Upvote
					<%= @link.get_upvotes.size %>
			<% end %>

			<%= link_to dislike_link_path(@link), method: :put, class: "btn btn-default btn-sm" do %>
		    <span class="glyphicon glyphicon-chevron-down">
		    Downvote
		    <%= @link.get_downvotes.size %>
		  <% end %>
			
		</div>
	</div>
<% end %>
