


    <div class="col-lg-9 col-md-9 col-sm-9">

        <div class="row">
            <div class="col-xs-4 col-sm-4">

                <div class="span4 collapse-group">
                    <h2>The Motley Fool/</h2>
                    <ul class="collapse" id="viewdetails">

                        <li><a href ="http://www.bloomberg.com/news/articles/2015-11-06/one-of-yellen-s-most-important-labor-market-measures-now-looks-a-lot-better">One of Yellens Most Important Labor Market Measures</a>  </li>

          

                        <li><a href ="http://www.bloomberg.com/news/articles/2015-11-06/the-oil-industry-has-been-put-on-notice">The Oil Industry Has Been Put on Notice</a></li>
                        <li><a href ="http://www.bloomberg.com/news/articles/2015-11-06/a-wal-mart-heir-is-27-billion-poorer-than-everyone-calculated">A Wal-Mart Heir Is $27 Billion Poorer Than Everyone Thought><a/></li>
                    <%#= f.submit "Submit", class: "btn" %>
                      </ul>




                    <p><a class="btn" data-toggle="collapse" data-target="#viewdetails">View details &raquo;</a></p>
                </div>
            </div>
            <div class="col-xs-4 col-sm-4">
                <div class="span2 collapse-group">
                    <h2>MSNBC</h2>
                    <p class="collapse" id="viewdetails2">Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
                    <p><a class="btn" data-toggle="collapse" data-target="#viewdetails2">View details &raquo;</a></p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-4 col-sm-4">

                <div class="span4 collapse-group">
                    <h2>Seeking Alpha</h2>
                    <p class="collapse" id="viewdetails3">Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
                    <p><a class="btn" data-toggle="collapse" data-target="#viewdetails3">View details &raquo;</a></p>
                </div>
            </div>
            <div class="col-xs-4 col-sm-4">
                <div class="span2 collapse-group">
                    <h2>Bloomberg</h2>
                    <p class="collapse" id="viewdetails4">Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
                    <p><a class="btn" data-toggle="collapse" data-target="#viewdetails4">View details &raquo;</a></p>
                </div>
            </div>
        </div>
    </div>



    <div class="col-lg-3 col-md-3 col-sm-3">
        <a href="<%= root_path %>" class="btn btn-success" role="button">Top</a>
        <a href="<%= root_path %>" class="btn btn-success" role="button">All Time</a>
        <a href="<%= root_path %>" class="btn btn-success" role="button">Recent Additions</a>

        <% @links.each do |link| %>
            <div class="link row clearfix" id="rightcolumn">

                <h2>
      <%= link_to link.title, link.url %><br>
      <small class="author">Submitted <%= time_ago_in_words(link.created_at) %> by <%= link.user.name %></small>
    </h2>

                <div class="btn-group">

                    <%= link_to like_link_path(link), method: :put, class: "btn btn-default btn-sm" do %>
                        <span class="glyphicon glyphicon-chevron-up"></span> Upvote
                        <%= link.get_upvotes.size %>
                            <% end %>
                                <%= link_to dislike_link_path(link), method: :put, class: "btn btn-default btn-sm" do %>
                                    <span class="glyphicon glyphicon-chevron-down">
        Downvote
        <%= link.get_downvotes.size %>
      <% end %>

      <div class = "btn btn-default btn-sm">  <%= link_to "Discuss", link %> </div>
    </div>
  </div>
<% end %>

</div>
